!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title BookStoreApplication
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'layouts/navbar'
    - flash.each do |k,m|
      / Success flash message
      %div{:class => "alert alert-dismissible alert-#{k}"}
        %button.btn-close{"data-bs-dismiss" => "alert", :type => "button"}
        %strong= m
    = yield
